@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
body {
  background: #343434;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
  margin: 0;
}

.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #8f8fff;
  text-align: center;
  font-size: 30px;
}
.navbar span {
  font-weight: 600;
}

.hero {
  padding: 1%;
}

table {
  width: 100%;
  height: fit-content;
}

.left-col {
  width: 40%;
  font-size: 20px;
  background: #292929;
}

.image-cell {
  width: 40%;
  background: white;
}
.image-cell div.parent-svg-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.input {
  padding: 4%;
  margin-bottom: 3px;
  margin-top: 3px;
  background: #202020;
}
.input .input-invite {
  display: inline-block;
  width: 18%;
  vertical-align: middle;
  margin-right: 1%;
}
.input .input-field {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}
.input .input-field input[type=text] {
  width: 110px;
  font-size: 15px;
}
.input .input-field select {
  width: 55px;
  font-size: 15px;
}
.input .input-checkbox-field {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}
.input .input-checkbox-field .checkboxgroup {
  display: inline-block;
  text-align: center;
  width: 7%;
  min-width: 25px;
  height: 10%;
}
.input .input-checkbox-field .checkboxgroup span {
  font-size: 18px;
}
.input .input-checkbox-field .checkboxgroup label {
  display: block;
}
.input .input-error {
  display: inline-block;
  font-size: small;
  font-style: italic;
  font-weight: normal;
  color: #AC2205;
}

.btns {
  padding: 5%;
  display: flex;
}
.btns .main-btns-block {
  text-align: left;
  display: inline-block;
  flex-grow: 2;
}
.btns .main-btns-block .submit-btn {
  display: inline-block;
}
.btns .main-btns-block .reset-btn {
  display: inline-block;
}
.btns .main-btns-block input {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #292929;
  text-align: center;
  transition: all 0.2s;
}
.btns .main-btns-block input:hover {
  color: #000000;
  background-color: #FFFFFF;
}
.btns .appart-btns-block {
  display: inline-block;
  flex-grow: 1;
  text-align: right;
}
.btns .appart-btns-block div.clear-btn {
  display: inline-block;
}
.btns .appart-btns-block div.clear-btn input[value=clear] {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #292929;
  text-align: center;
  transition: all 0.2s;
}
.btns .appart-btns-block div.clear-btn input[value=clear]:hover {
  color: white;
  background-color: #ab2a3d;
}

.right-col {
  width: 60%;
  padding-left: 1%;
  vertical-align: top;
}
.right-col #post {
  text-align: center;
  margin: 15px;
  color: black;
  background: white;
  font-weight: bold;
}
.right-col table {
  border-collapse: collapse;
}
.right-col table thead {
  background: #292929;
}
.right-col table thead .res-table-X-clmn {
  width: 17%;
}
.right-col table thead .res-table-Y-clmn {
  width: 17%;
}
.right-col table thead .res-table-R-clmn {
  width: 17%;
}
.right-col table thead .res-table-extime-clmn {
  width: 24%;
}
.right-col table thead .res-table-systime-clmn {
  width: 24%;
}
.right-col table thead td {
  text-align: center;
}
.right-col table tbody {
  background: #8f8fff;
}
.right-col table tbody .res-table-X-clmn {
  text-align: right;
  width: 17%;
  padding-right: 3px;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.right-col table tbody .res-table-Y-clmn {
  text-align: right;
  width: 17%;
  padding-right: 3px;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.right-col table tbody .res-table-R-clmn {
  text-align: right;
  width: 17%;
  padding-right: 3px;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.right-col table tbody .res-table-extime-clmn {
  text-align: right;
  width: 24%;
  padding-right: 3px;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.right-col table tbody .res-table-systime-clmn {
  text-align: right;
  width: 24%;
  padding-right: 3px;
  border-top: 1px solid black;
}
.right-col table tbody .hit {
  background: #59ab42;
}
.right-col table tbody .miss {
  background: #ab2a3d;
}

.responsive {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=main.css.map */
